@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked left-menu" id="news-category">
            <li>
                <a class="selected" href="unsafe:javascript:void(0)" data-target="#item_58" data-toggle="collapse">
                    <span class="fa fa-news-cat"></span> Giới thiệu
                </a>
            </li>
            <li>
                <ul id="item_58" class="nav nav-stacked left-submenu collapse in">
                    <li><a class="selected" href="/gioi-thieu/ve-mogi">Về Mogi</a></li>
                    <li><a class="" href="/gioi-thieu/dieu-khoan-thoa-thuan">Điều khoản thỏa thuận</a></li>
                    <li><a class="" href="/gioi-thieu/chinh-sach-bao-mat">Chính sách bảo mật</a></li>
                    <li><a class="" href="/gioi-thieu/tuyen-dung">Tuyển dụng</a></li>
                </ul>
            </li>
            <li>
                <a class="collapsed" href="javascript:void(0)" data-target="#item_82" data-toggle="collapse"><span class="fa fa-news-cat"></span> Quy chế hoạt động</a>
                <ul id="item_82" class="nav nav-stacked left-submenu collapse">
                    <li><a class="" href="/quy-che/dieu-khoan-cam-ket">Điều khoản cam kết</a></li>
                    <li><a class="" href="/quy-che/dieu-khoan-ap-dung">Điều khoản áp dụng</a></li>
                    <li><a class="" href="/quy-che/quyen-va-trach-nhiem-thanh-vien-tham-gia-san-giao-dich-tmdt-www-mogi-v">Quyền và trách nhiệm Thành Viên tham gia Sàn Giao Dịch TMĐT www.mogi.vn</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="news-detail">
            <div>
                <h2 class="title">Về chúng tôi</h2>
            </div>
            <div class="summary">
            </div>
            <div class="body">
                <p><strong>Mogi.vn</strong> là trang web trực tuyến chuyên đăng tin về bất động sản, cung cấp thông tin của các bất động sản thật. Đi kèm theo đó còn là số liệu thị trường, thông tin khu vực và công cụ tính chi phí cũng như thời hạn trả góp của từng bất động sản khác nhau.</p>
                <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://blog.mogi.vn/wp-content/uploads/2018/09/mogi-hien-tai-2018-mogivn.png" alt="Mogi.vn là trang web trực tuyến chuyên đăng tin về bất động sản" width="500" height="298" /></p>
                <p> </p>
                <p><strong>Mogi.vn</strong> là sân chơi dành cho môi giới cũng như chính chủ có cơ hội đăng tin các bất động sản thật và chất lượng, mang đến nhiều thông tin trung thực và tính minh bạch cao trên từng khu vực dành cho người xem. Từ đó giúp môi giới và chính chủ tiếp cận được nhiều đối tượng khách hàng tiềm năng hơn, đồng thời tăng hiệu quả và tạo ra một thị trường bất động sản cực nhộn nhịp, sôi nổi tại Việt Nam.</p>
                <p>Không những thế, Mogi.vn còn là nơi hỗ trợ những người thuê, người mua đang có nhu cầu tìm kiếm một sản phẩm bất động sản thích hợp với nhu cầu của bản thân một cách nhanh chóng hơn thông qua hàng nghìn tin đăng mỗi ngày trên khắp cả nước.</p>
                <p>Với mong muốn được hỗ trợ tận tâm và hết mình cho khách hàng, Mogi.vn luôn ra sức tạo nên những tính năng tìm kiếm nhắm đến từng phân khúc đối tượng mục tiêu khác nhau.</p>
                <ul>
                    <li>Trong đó có thể kể đến tính năng “<strong>Phòng trọ sinh viên</strong>” giúp các sinh viên dễ dàng tìm kiếm các phòng trọ nằm gần trường,</li>
                    <li>Hay như tính năng “<strong>Giá nhà đất</strong>” giúp người dùng tra cứu thông tin giá nhà đất tại từng con đường trên từng khu vực.</li>
                </ul>
                <p>Mang tầm nhìn tương lai là trở thành một trong những trang thông tin bất động sản uy tín và được nhiều người biết đến nhất tại Việt Nam, <strong>Mogi.vn</strong> đang từng bước phát triển, đổi mới và cung cấp những dịch vụ tốt nhất dành cho khách hàng, độc giả.</p>
            </div>
        </div>
    </div>
</div>
