@model TimPhongTro.Models.TBADMIN
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login - Admin</title>
    <link href="~/Content/css/cssLoginAD.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "box" }))
    //<form class="box" action="index.html" method="post">
    {
        <h1>Đăng nhập</h1>
        @Html.TextBoxFor(Model => Model.TaiKhoan, new { @class = "form-control", @placeholder = "Tài khoản" })
        //<input type="text" name="" placeholder="Tài khoản" />

        @Html.PasswordFor(Model => Model.Matkhau, new { @class = "form-control", @placeholder = "Mật khẩu" })
        //<input type="password" name="" placeholder="Mật khẩu" />
        <input type="submit" name="" value="Đăng nhập" />
    }
</body>
</html>

